header .row,
footer .row {
  display: flex;
  aligh-items: center;
}

header h1 {
  font-family: Arial; 
  font-size: 100px;
  font-weight: 700
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}
