header .row,
footer .row {
  display: flex;
  align-items: center;
}

header {
  padding: 20px 0;
}

header h1 {
  font-family: Arial; 
  font-size: 60px
  font-weight: 700
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0; font-size: 20px
}

.jumbotron{
  display: flex;
  align-items: center;
  background-image: url('https://image.freepik.com/foto-gratis/plano-de-la-mujer-de-viajero-articulos-y-pasaporte-sobre-fondo-blanco-viajes-y-concepto-de-estilo-de-vida_1428-197.jpg');
  background-size: cover;
  display: block;
}

.jumbotron container row col-sm-7 {
  border: 15px solid black;
}

.jumbotron h3 {
  font-size: 75px;
  font-weight: 700;
  margin: 0;
  padding: 70px 0;
}

.jumbotron p {
  font-size: 25px; 
  padding: 30px 0;
}
